<div class="d-flex align-items-stretch">
<div>
        <nav class="sidebar">         
    
            <ul class="list-unstyled components">
    
                <li>
                    <a href="#/">
                       <span class="d-block"><img src="/assets/images/icon8/icons8-speed.svg" class="menu-icon" alt="..."></span>
                        <span>{{ 'Dashboard' | translate }}</span>
                    </a>    
                </li>
                <li>
                    <a href="#/">
                        <span class="d-block"><img src="/assets/images/icon8/icons8-computers-connecting.svg" class="menu-icon" alt="..."></span>
                        <span>{{ 'Setup' | translate }}</span></a>
    
                </li>
                <li>
                        <a href="#/">
                            <span class="d-block">
                                    <img src="/assets/images/icon8/icons8-search.svg" class="menu-icon" alt="...">
                            </span>
                            
                            <span>{{ 'View' | translate }}</span></a>
        
                    </li>
              
                <li>
                        <a href="#/">
                        <span class="d-block"></span> <img src="/assets/images/icon8/icons8-user-account.svg" class="menu-icon" alt="...">
                    
                        <span>{{ 'Manager User' | translate }}</span></a>
                </li>
                <li>
                        <a class="active" href="#/">
                        <span class="d-block"><img src="/assets/images/icon8/icons8-database-administrator.svg" class="menu-icon" alt="..."></span>
                        
                     <span>{{ 'Reference Data' | translate }}</span></a>
                </li>
            </ul>
            
        </nav>
</div>
<div >
        <nav class=" sidebar submenu-sidebar">         
    
                <ul class="list-unstyled components">
        
                    <li>
                        <a href="#/">
                            <img src="/assets/images/icon8/icons8-marker.svg" class="submenu-icon" alt="...">
                            <span class="pl-3">{{ 'Location' | translate }}</span>
                        </a>    
                    </li>
                    <li>
                        <a href="#/"><img src="/assets/images/icon8/icons8-in-inventory.svg" class="submenu-icon" alt="...">
                            <span class="pl-3">{{ 'Capabilities' | translate }}</span></a>
        
                    </li>                   
                    <li>
                        <a class="active" href="#/"> <img src="/assets/images/icon8/icons8-xls-import.svg" class="submenu-icon" alt="...">
                            <span class="pl-3">{{ 'Application Type' | translate }}</span></a>
                    </li>
                    <li>
                            <a class="active" href="#/"> <img src="/assets/images/icon8/icons8-template.svg" class="submenu-icon" alt="...">
                                <span class="pl-3">{{ 'Logical Type' | translate }}</span></a>
                        </li>
                        <li>
                                <a class="active" href="#/"> <img src="/assets/images/icon8/icons8-active-directory.svg" class="submenu-icon" alt="...">
                                    <span class="pl-3">{{ 'Schema' | translate }}</span></a>
                            </li>
                            <li>
                                    <a href="#/"><img src="/assets/images/icon8/icons8-xls-import.svg"  class="submenu-icon" alt="...">
                                        <span class="pl-3">{{ 'IAG Data' | translate }}</span></a>
                                </li>
                       
                        <li>
                                <a href="#/">
                                    <img src="/assets/images/icon8/icons8-geography.svg" class="submenu-icon" alt="...">
                                    <span class="pl-3">{{ 'Region' | translate }}</span>
                                </a>    
                            </li>
                </ul>
                
            </nav>
</div>
</div>