$topnav-background-color:#005485;

.sidebar {
    width: 100px;
    position: fixed;
    top: 65px;
    left: 0;
    height: 100%;
    z-index: 999;
    background: $topnav-background-color;    
  
    ul.components {     
      padding-bottom: 10px;
     li {
            text-align: center;         
            padding: 15px 0 20px 0;;
            border-bottom: 1px solid white;
            margin:0 10px 0 10px;
            outline : none;

            a{
                color: #fff;
                text-decoration: none;
            }
     }
     :last-child{
      border:none;
     }

      
     
    }
  }

  .submenu-sidebar{
    left: 100px;
    background:#EEEEEE;
    box-shadow: 0 6px 10px 0 rgba(51, 51, 51, 0.25);
    width: 250px;
    position: fixed;
    top: 65px;    
    height: 100%;
    ul.components {   
     
     li {
      border-bottom: 1px solid #9f9b9b;
      text-align: left; 
      padding: 25px 0 25px 0;
      margin: 0 10px 0 10px;
      outline : none;
      cursor: pointer;
            a{
                color: #000;
                
            }
     }
     :last-child{
      border:none;
     }

      
     
    }
    transition: all 0.3s;
  }

  .menu-icon{
    height:25px;
    width:auto;
  }
  .submenu-icon{
    height: 35px;
    width: auto;
  }

  .selected-item{
    background: #fff;
    border: 1px $topnav-background-color solid;
    border-radius: 1rem;
  }

  .wrapper {
    display: flex;
    width: 100%;
}

#sidebar.active {
  margin-left: -250px;
}
