hr {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.small-text{
    font-size: 0.9rem;
}

.btn-primary {
    background-color: #334f9b;
    border-color: #334f9b;
}

a {
    text-decoration: underline;
    color: #005485;
}