$topnav-background-color: #005485;
:host {
    .navbar {
        background-color: $topnav-background-color;  
        padding: 0;
             
        .navbar-brand {
            color: #fff;
            .logo{
                max-width: 135px;

            }
        }
        .nav-item > a {
            color: #fff;
        }
        .profile-image{
            border-radius: 50%;
        }
         
    }
    .header-dropdown {        
        top: 60px !important;
        .dropdown-options {
            font-size: 14px;
            line-height: 2rem;
            font-weight: 600;
            border-bottom: 1px solid #ddd;
            // color: $link-color;
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                // background-color: blue;
            }
        }
    }

    .user-profile-btn{
        background: none;
        border: none;       
        text-align: right;
        margin-top: 0px;
        outline: none;

        .user-name{
            line-height: 0.5;
        }
    }

    .bubble-img{
        background:url('/assets/images/Background Pattern.svg') ;
        height: 70px;
    }

    .menu-shadow{        
        box-shadow: 0 6px 10px 0 rgba(51, 51, 51, 0.25);
        border: none;
    }
   
    .custom-width{
        width: 100%;
        height: 70px;
    }
    .user-details-contain{
        background: #fff;
    }





}

