<nav class="navbar navbar-expand-lg fixed-top">
  
    <div class="row custom-width no-gutters">
      <div class="col col-6 pt-3 pl-2">
        <a class="navbar-brand" href="#"
          ><img src="/assets/images/SITA_LOGO.svg" class="logo" alt="SITA UI"
        /></a>
        <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <i class="fa fa-bars text-muted" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col col-4  ">
          <div class="bubble-img">

      </div></div>
      <div class="col col-2 user-details-contain pt-3 pr-3">
        <div class="float-right">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" ngbDropdown>
              <div ngbDropdownToggle>
                <img
                  src="../../../assets/images/profile.png"
                  class="profile-image"
                  height="35"
                  width="35"
                />
                <button class="user-profile-btn">
                  <div class="user-name">{{ logInName }}</div>
                  <label>{{ airline }}</label>
                </button>
                <span class="caret"></span>
              </div>
              <div class="dropdown-menu-right menu-shadow header-dropdown"   ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="fa fa-fw fa-user"></i> {{ "Details" | translate }}
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="fa fa-fw fa-envelope"></i>
                  {{ "Settings" | translate }}
                </a>
                <a
                  class="dropdown-item"
                  [routerLink]="['/login']"
                  (click)="onLoggedout()"
                >
                  <i class="fa fa-fw fa-power-off"></i>
                  {{ "Log Out" | translate }}
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
</nav>
